html, body 
{
    height:100%;
} 

.searchsection 
{
    width: 100%;
    height: 500px;
    z-index: 5;
    background: #5d417be6;
    background-image: radial-gradient(ellipse at 70% top,#a8dbd3e6  0,transparent 35%);
}
.mt-4
{
    font-size: 28px;
font-weight: 300;
color: #633991;
}
.text-primary
{
        font-size: 20px;
    color: #e38cb7 !important;
    font-family: 'Rubik', sans-serif;
}
.frame-1 , .frame-2 , .frame-3 , .frame-4 , .frame-5 , .frame-5 span
{
    font-family: 'Lobster Two', cursive;
}
#logo
{   width: 100px;
    height: 100px;
    display: block;
    background-size: cover;
    background-image: url(../images/logo1.png);
}
#name
{    display:block;
  padding-left: 10px;
}
.header-content
{
     margin-top: 1%; 
}

.rider_btn
{
    background-color: #00aaa7;
    padding-top : 15px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left:5px;
   
}
.burger-img
{
    position: relative;
    float :right;
    flex: 1 0 0%;
    width: 750px;
    height: 350px;
    background-image: url(../images/burger.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}
.Header_rider
{
    margin-top: 1%;
    display: inline-block;
}
.header-bar
{
    text-align: right;
}
 .rider_btn > *
{
    color: #fff;
    font-size: 15px;
    border-color: #fff;
}
.reasons-panel
{
    display: inline-block;
}
body , a , span ,div,p,h1,h2,h3,h4
{
    font-family: adelle,Helvetica Neue,Helvetica,Arial,Microsoft YaHei,\5FAE软雅黑体,Hiragino Sans GB,\51AC青黑体,sans-serif;
}
span
{
    display: inline-block;
}
a:hover
{
    text-decoration:none;
    cursor: pointer;
    opacity: 0.7;
}

a 
{
    border-radius: 5%;
}

.rider_svg
{
    padding-top: 5px;
}
path
{
    fill: currentColor;
}

.header
{
    width: 100%;
    height: 50px;
}
.content {
  
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: 1000;
}
.divider
{
    width: 90px;
    height: 4px;
    background: #1f5ea9;
    margin: 20px auto;
}
.whyus
{
    height: 1200px;
    min-height: 1200px;
    background-image: url(../images/background.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
}
.container h4 {

    position: absolute;
    top: 50%;
    line-height: 100px;
    height: 60px;
    margin-top:-100px;
    font-size: 40px;
    text-align: left;
    color: transparent;
    -webkit-animation: blurFadeInOut 3s ease-in backwards;
    -moz-animation: blurFadeInOut 3s ease-in backwards;
    -ms-animation: blurFadeInOut 3s ease-in backwards;
    animation: blurFadeInOut 3s ease-in backwards;
}

.container h4.frame-1 {
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
}

.container h4.frame-2 {
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

.container h4.frame-3 {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.container h4.frame-4 {
    font-size: 60px;
    top: 60%;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
}

.container h4.frame-5 {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: transparent;
    text-shadow: 0px 0px 1px #fff;
}

.container h4.frame-5 span {
    -webkit-animation: blurFadeIn 3s ease-in 12s backwards;
    -moz-animation: blurFadeIn 1s ease-in 12s backwards;
    -ms-animation: blurFadeIn 3s ease-in 12s backwards;
    animation: blurFadeIn 3s ease-in 12s backwards;
    color: transparent;
    text-shadow: 0px 0px 1px #00aaa7;    
}

.container h4.frame-5 span:nth-child(2) {
    -webkit-animation-delay: 13s;
    -moz-animation-delay: 13s;
    -ms-animation-delay: 13s;
    animation-delay: 13s;
}

.container h4.frame-5 span:nth-child(3) {
    -webkit-animation-delay: 14s;
    -moz-animation-delay: 14s;
    -ms-animation-delay: 14s;
    animation-delay: 14s;
}
.saction3 {
	padding: 50px 0 50px;
	position: relative;
}
.ordaring h2 {
	text-align: center;
	font-family: 'Lobster Two', cursive;
	color: #515151;
	font-size: 35px;
	font-weight: 700;
}
.ordaring p {
	text-align: center;
	margin-top: 15px;
	color: #e24425;
	font-size: 30px;
}
.arrow, .arrow1 {
	position: absolute;
	top: 52%;
	right: -38px;
}
.step img {
	text-align: center;
	display: block;
	margin: 50px auto;
}
.step1 img {
	text-align: center;
	display: block;
	margin: 50px auto;
}
.dotted {
	border: 1px dashed #000;
	width: 35%;
}
.dotted1 {
	border: 1px dashed #515151;
	width: 27%;
	display: inline-block;
	top: 90%;
	position: absolute;
	right: 12%;
}
.dotted {
	border: 1px dashed #515151;
	width: 27%;
	display: inline-block;
	top: 90%;
	position: absolute;
	left: 12%;
}
.saction5 {
	padding: 60px 0;
}
.dotted6 {
	border: 1px dashed #515151;
	width: 30%;
	display: inline-block;
	top: 5%;
	position: absolute;
	right: 4%;
}
.dotted7 {
	border: 1px dashed #515151;
	width: 65%;
	display: inline-block;
	top: 5%;
	position: absolute;
	right: 4%;
}
.restaurants h3 {
	font-family: 'Lobster Two', cursive;
	color: #515151;
	font-size: 35px;
	font-weight: 700;
}
.Cuisines h3 {
	font-family: 'Lobster Two', cursive;
	color: #515151;
	font-size: 35px;
	float: left;
	font-weight: 700;
}
.rest a {
	display : block;
	width : 165px;
	height : 113px;
}
.subway a {
	margin-top: 40px;
	display : block;
	width : 170px;
	height : 113px;
}
.kfc a {
	margin-top: 40px;
	display : block;
	width : 170px;
	height : 113px;
}
.papa a {
	margin-top: 40px;
	display : block;
	width : 170px;
	height : 113px;
}
.pizza a {
	margin-top: 40px;
	display : block;
	width : 170px;
	height : 113px;
}
.barti a {
	margin-top: 40px;
	display : block;
	width : 170px;
	height : 113px;
}
.rest {
	padding-top: 40px;
}
.food h3 {
	font-family: 'Lobster Two', cursive;
	color: #515151;
	font-size: 35px;
	font-weight: 700;
}
.order a {
	text-decoration: none;
	color: #515151;
	transition: all 0.3s;
	font-weight: 700;
}
.order a:hover {
	color: #69c15f;
}
.order {
	background-color: #f1f1f1;
	width: 170px;
	margin-top: -8px;
	padding: 10px;
	text-align: center;
	font-weight: 700;
	border-radius: 0px 0 8px 8px;
	border: 1px solid #DADADA;
}
.food1 {
	padding: 40px 0 10px;
}
@-webkit-keyframes blurFadeInOut {

    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        -webkit-transform: scale(0);    text-align : left;
    }
}

@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -webkit-transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes fadeInBack {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    50% {
        opacity: 0.4;
        -webkit-transform: scale(2);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale(5);
    }
}

@-webkit-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
    }
}

/**/
@-moz-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -moz-transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        -moz-transform: scale(0);
    }
}

@-moz-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        -moz-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        -moz-transform: scale(1);
    }
}


@-moz-keyframes fadeInBack {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
    }
    50% {
        opacity: 0.4;
        -moz-transform: scale(2);
    }
    100% {
        opacity: 0.2;
        -moz-transform: scale(5);
    }
}

@-moz-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -moz-transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1) rotate(0deg);
    }
}

/**/
@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #fff;
        transform: scale(0);
    }
}

@keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #fff;
        transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #fff;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #fff;
        transform: scale(1);
    }
}

@keyframes fadeInBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.4;
        transform: scale(2);
    }
    100% {
        opacity: 0.2;
        transform: scale(5);
    }
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

@media screen and (max-width: 800px) {
    h2.frame-5 {
        font-size: 60px;
    }
}

@media screen and (max-width: 992px) {
    p.team_role {
        font-size: 60px;
    }

    p.team_name {
        font-size: 30px;
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(.75);
    }
    100% {
        transform: scale(.75);
    }
}

@-webkit-keyframes heartbeat {
    0% {
        transform: scale(.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(.75);
    }
    100% {
        transform: scale(.75);
    }
}

i.fa-heartbeat {
    animation: heartbeat 1s infinite;
    -webkit-animation: heartbeat 1s infinite;
}

label {
    text-align: left;
    font-size: 14px;
}

::-moz-placeholder {
    font-size: 16px;
    text-align: left;
}

.label > * {
    margin-top: 25px;
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 1.00);

}
.index
{
    height: 950px;
    background-image: url(../images/rain.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.radio
{
    margin-top: 0px !important;
}
.register-form > *
{
 margin-top:2%;
}
@media (min-width: 900px) {
    .margin {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .margin {
        margin-bottom: 10px;
    }
}
.light-bg {
    background-color: #faf6fb;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}
.owl-carousel .owl-item img.client-img {
    width: 110px;
    margin: 30px auto;
    border-radius: 50%;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}

.testimonials-single {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

.blockquote {
    color: #7a767a;
    font-weight: 300;
}

.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 60px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #ff487e;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #ff487e;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}


/*  IMAGE GALLERY
----------------------*/

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}
























